@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar{
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;  
}
.navbar2{
  font-family: Roboto;
  font-size: 20px;
  font-weight: 200;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  color: #F0F0F0;
}

.heder_p{
  font-family: Roboto;
  font-size: 12px;
  font-weight: 200;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;  
}
.select{
  color: rgba(33, 26, 29, 0.60);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.mainh{
  color: #458BD1;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.uyh2{
  color: #458BD1;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
}
.uyp{
  color: #211A1D;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.uybtn{
  color: #458BD1;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footh2{
  color: #211A1D;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.foot1{
  font-family: Roboto;
  font-size: 55px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  color: #458BD1;
}
.footh21{
  color: #458BD1;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.ft{
  color: #211A1D;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.ftp{
  color: rgba(33, 26, 29, 0.80);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.ftbtn{
  color: #211A1D;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 142.857% */
}
.fp{
  color: rgba(33, 26, 29, 0.60);
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.fttp{
  color: rgba(33, 26, 29, 0.40);
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}